.admin-leave-container {
  padding: 20px;
}

.admin-leave-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.admin-leave-table th{
 background-color: #b7b7b7;
}

.admin-leave-table th,
.admin-leave-table td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

.approve-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 6px 12px;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 4px;
}

.reject-btn {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 4px;
}

.approve-btn:hover,
.reject-btn:hover {
  opacity: 0.9;
}
